<div class="container">
  <div [hidden]="submitted">
    <!-- <a routerLink="/hero-form">Form</a> -->
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for= "email">Email</label>
          <input type="text" class="form-control" id="name">
          Email is required
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          </div>
        </div>
        <div class="form-group">
        <label for="alterEgo">Password</label>
        <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo" required>
        password is required
        <br>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        </div>
        <br>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name"
          #name="ngModel">
      </div>
      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input
            type="radio"
            [value]="gender">{{ gender }}
        </label>
      </div>
            <button class="btn btn-primary" (click)="submitted=false" [disabled] = "!allowNewServe">Edit</button>
      <button type="submit" class="btn btn-success"(click)="myClickFunction($event)">Submit</button>
</form>
</div>
</div>
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">email</div>
      <div class="col-xs-9">{{ model.name  }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Password</div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
