<!-- <p>datadriven works!</p>
    <label for="email">Email address:</label>
    <input type="text"class="form-control" formControlName="email" > -->
    <!-- <div *ngIf="email.invalid ">
    <div *ngIf="email.errors.required">email can not be blank</div>
    <div *ngIf="email.errors.emailDomain">Please Enter valid trigyn email </div> 
    </div>
-->
<div class="header">
    <a href="#default" class="logo"></a>
    <div class="header-right">
      <!-- <a class="button" routerLink="#home" routerLinkActive="activebutton">Home</a> -->
      <!-- <a href="#contact">Contact</a> -->
      <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Home</a> 
      <a class="button" routerLink="/heroes-list" routerLinkActive="activebutton">About</a>
  
      <!-- <a href="#about">About</a> -->
    </div>
  </div>
  <nav>
  </nav>
  