<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-default"> -->
    <div class="row">
      <div class="congtainer">
        <div class="col-md-12">
          <div class="header" [ngStyle]="{backgroundColor: getcolor()}">
            <p >{{ 'Active' }} with id {{ activeId }} is {{ getServeStatus() }}</p>
              <a href="#default" class="logo"></a>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-outline-success" type="submit">Search</button>
                <div class="header-right">
                  <a routerLink="/hero-form"><button>Form</button></a>
                  <a routerLink="/items"><button>About</button></a>
                </div>
          </div>
        </div>
      </div>
    </div>

