<div class="header">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a style="cursor: pointer;" (click) = "onLogout()" >Logout</a>
    </li>
  </ul>
    <a routerLink="/" class="navbar-brand "></a>
      <a class="active" routerLink="/hero-form">Form</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/item">Account</a>
      <input type="text" class="searchTer">
      <button type="submit" class="btn btn-outline-success">Search</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1 style="text-align:center">{{title}}</h1>
  </div>
</div>


